<a href="https://colab.research.google.com/github/Huug0l/30-day-challenges-with-sql/blob/main/challenges/notebooks/notebook_challenge_008_level3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [12]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisamos que agrupe os dados da tabela `Invoice` e exiba apenas os maiores valores para cada `Customer.CustomerId` do "Brazil". Utilize funções como: `ROW_NUMBER e PARTITION` para resolver este problema.

Critério:  
Escreva essa transformação em apenas uma query. Boa sorte!

resultado esperado:  

|CustomerId|FirstName|LastName |country|total
|----------:|--------:|--------:|------:|----
|         1|Luís     |Gonçalves|Brazil |13.86
|        10|Eduardo  |Martins  |Brazil |13.86
|        11|Alexandre|Rocha    |Brazil |13.86
|        12|Roberto  |Almeida  |Brazil |13.86
|        13|Fernanda |Ramos    |Brazil |13.86

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize a documentação do sqlite:https://www.sqlite.org/docs.html

In [18]:
%reload_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

In [19]:
%%sql
select CustomerId,
       FirstName,
       LastName,
       country,
       total  
  from (
        select ROW_NUMBER() OVER(PARTITION BY country ORDER BY total DESC) AS Row,   
               iv.CustomerId as CustomerId,
               ct.FirstName  as FirstName,
               ct.LastName   as LastName,
               country       as country,
               round(total,2) as total        
       from invoice as iv
       inner join customer as ct  on iv.CustomerId = ct.CustomerId
        where country = 'Brazil'    
        )  limit 5

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
(sqlite3.OperationalError) near "(": syntax error
[SQL: select CustomerId,
       FirstName,
       LastName,
       country,
       total
  from (
        select ROW_NUMBER() OVER(PARTITION BY country ORDER BY total DESC) AS Row,
               iv.CustomerId as CustomerId,
               ct.FirstName  as FirstName,
               ct.LastName   as LastName,
               country       as country,
               round(total,2) as total
       from invoice as iv
       inner join customer as ct  on iv.CustomerId = ct.CustomerId
        where country = 'Brazil'
        )  limit 5]
(Background on this error at: https://sqlalche.me/e/14/e3q8)